.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.dark-mode {
  backdrop-filter: invert(80%);
  color: white;
  --amplify-components-text-color-primary: white;
  --amplify-components-heading-color: white;
  --amplify-components-button-color: white;
  --amplify-components-button-text-color: white;
}

.underline {
  border-bottom: 1px solid black;
}
.underline.dark-mode {
  border-bottom: 1px solid white;
}

.amplify-text {
  color: var(--amplify-components-text-color-primary);
}

